





.role_card {
  position: relative;
  display: block;
  height: 250px;
  margin: 20px auto; 
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
}


.info_section {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
}

.role_desc {
  padding: 25px;
  height: 50%;
  
}



.blur_back {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%; 
  right: 25px;
  background-size: cover;
  border-radius: 11px;
  
}

@media screen and (min-width: 768px) {
  .role_header {
    width: 60%;
  }
  
  .role_desc {
    width: 50%;
  }
  
  .info_section {
    background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
  }
  
  .blur_back {
    width: 80%;
    background-position: -100% 10% !important;  
  }
}

@media screen and (max-width: 768px) {
  .role_card {
    width: 95%;
    margin: 70px auto; 
    min-height: 350px;
    height: auto;
  }
  
  .blur_back {
    width: 100%;
    background-position: 50% 50% !important;  
  }
  
  .role_header {
    width: 100%;
    margin-top: 85px;
  }
  
  .role_desc {
    width: 100%;
  }
  
  .info_section {
    background: linear-gradient(to top, rgb(20, 20, 19) 50%, transparent 100%);
    display: inline-grid;
  }
}


.Teachers{
  background: url("../../assets/imgs/teacher.jpg");
background-size: cover; 
  background-position: center
}


.Schools{
  background: url("../../assets/imgs/schoolChairs.jpg") ;
background-size: cover; 
  background-position: center
}

.better-for-card h3{
  display: inline-block;
  display: flex;
  background: linear-gradient(90deg, #2a86bb, #00ff00, #225b81);
  background-clip: text;
  -webkit-background-clip: text; 
  color: transparent;
  animation: colorMove 3s ease-in-out infinite;
}
@keyframes colorMove {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}

.Students_back {
  background: url("../../assets/imgs/student.jpg");
background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

.Parents_back {
    background: url("../../assets/imgs/parent.jpg");
background-size: cover; 
  background-position: center;
  background-repeat: no-repeat
  }
  .better-for-card{
    background : linear-gradient(132deg, rgba(80, 124, 124, 0.3), rgba(13, 22, 29, 0.3), rgba(40, 80, 57, 0.3), rgba(78, 126, 112, 0.2), rgba(59, 57, 59,.2)); 
    background-size : 400% 400%;
     animation : Gradient 15s ease infinite; 
     border-radius: 3px;
}



/* SimplifyFeatures */

.simplify-feature{
  background: #283048; 
background: linear-gradient(132deg,  rgba(59, 57, 59,.4),rgba(80, 87, 90,0.3), rgba(40, 48, 72,0.6));  
animation: Gradient 5s ease infinite;
border-radius: 3px;


}
@keyframes Gradient {
  0% {
       background-position: 0% 50%
     }
 50% { 
       background-position: 100% 50%
     }
100% {
    background-position: 0% 50%
    }
}
.simplify-feature-container h2{
  font-weight: 700;
  
  
}
.simplify-feature-container .h3{
  position: sticky;
  top: 58px;
  background-color: black !important ;
  width: 100%;
  height: 100px;
  z-index: 99;
  
}
.simplify-feature .simplify-progressbar {
	background: rgb(0, 0, 0);
}

.simplify-feature li{
position: relative;
overflow: hidden;

}
.simplify-feature .simplify-progressbar:hover {
	background: rgb(14, 178, 190);
}
.simplify-feature input {
  display: none;
}
.simplify-feature .simplify-progressbar .simplify-progressbar-fill {
    position: inherit;
	width: inherit;
	height: inherit;
	margin-left: -100%;
    background-color: rgb(14, 178, 190) !important;
    
}
.simplify-feature .simplify-progressbar .simplify-progressbar-fill {
    position: inherit;
	width: inherit;
	height: inherit;
	margin-left: -100%;
	
}
.simplify-feature .simplify-progressbar {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 3px;
	width: 100%;
	background: #f6eac5;
	z-index: 10;
}



#feature1:checked ~ .row ul li:nth-of-type(1) .simplify-progressbar .simplify-progressbar-fill,
#feature2:checked ~ .row ul li:nth-of-type(2) .simplify-progressbar .simplify-progressbar-fill,
#feature3:checked ~ .row ul li:nth-of-type(3) .simplify-progressbar .simplify-progressbar-fill {
  animation: barFill 5s linear;
}

@keyframes barFill {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}