
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
:root {
  --main-bg: rgb(0, 0, 0);
  /* --content-bg-2: rgb(34, 52, 110); */
  --content-bg-2: rgb(11, 94, 215);
  --bg-1: rgb(32, 32, 32);
  --bg-2: rgb(42, 57, 66);

  --textColor: white;
  --textColor2:rgb(11, 94, 215);
  --blackAndWhite: black;
  --bg-gradient: rgb(49, 76, 87);
  --card-bg: rgb(42, 57, 66, 0.7);
  --card-body-bg: rgb(42, 57, 66, 0.96);
  --card-header-bg: rgb(29, 39, 46);
  
}

body{
  background-color:var(--bg-1)!important;
  font-family: 'Josefin Sans', sans-serif !important;
min-width: 100vw !important;
display: block !important;
color: white !important;
}
#root{
  min-height: 100vh !important;
}
.App {

  background-color: var(--main-bg) !important;
  background-color: white;
  text-align: center;
  min-height: 100vh !important;

}
.icon-bg{
  height: 30px;
  width: 30px;
  background-color: aqua;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content_bg{
  color:white;
  background-color:var(--bg-1) !important;
  border-radius: 3px;
}
.header{
  color: var(--textColor2) !important;
}
.active{
  color: var(--textColor2) !important;
  background-color: var(--bg-1);
}
.border-radius-round{
  border-radius: 3px ;
 }
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main_bg{
  background-color: var(--main-bg) !important;
  
}
.content_bg-2{
  background-color: var(--content-bg-2) !important;
}
.main_bg.list-group-flush{
  background-color: var(--main-bg) !important;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
a{
  color: white !important;
}
.card {
  padding: 2em;
}
.img_component{
  object-fit:contain;
}
.read-the-docs {
  color: #888;
}
input:focus {
  color: var(--textColor) !important;
}
.preview-content {
  background-color: var(--bg-2);
  overflow: hidden !important;
}
input,
textarea,select {
  color: var(--textColor2) !important;
  background-color: var(--bg-1) !important;
  border-color: var(--bg-2) !important;
}
input:focus {
  color: var(--textColor2) !important;
}
textarea {
  color: var(--textColor) !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="radio"] {
  background-color: var(--bg-1) !important;
}
input[type="email"].form-control {
  background-color: var(--bg-1) !important;
}

input[type="checkbox"]:not(:checked) {
  background-color: var(--bg-1) !important;
}
.nav-item:hover{
  background-color: var(--bg-1) ;
  cursor: pointer;
}
.nav-item:focus{
  background-color: var(--bg-1) ;
  cursor: pointer;
}
.nav-item a.nowrap:hover{
  background-color: var(--main-bg) ;
}
.show>.btn-primary.dropdown-toggle{
  border-color: transparent !important;
  border-color: transparent !important;
}
.btn:focus{
  box-shadow: none !important;
}
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
}
/* .overlap.content_bg .nowrap{
  z-index: 100 !important;
  color: red !important;
} */

/* button[type="button"].btn.btn-primary{
  background-color: var(--content-bg-2) !important;
} */

.edit-text input,
.edit-text input:active,
.edit-text input:focus {
  background-color: rgb(42, 57, 66, 0) !important;
  border: none;
  outline: none;
  box-shadow: none !important;
  color: white;
}
.edit-text textarea,
.edit-text textarea:active {
  background-color: rgb(42, 57, 66, 0) !important;
  border: none;
  outline: none;
  box-shadow: none !important;
  color: white;
}
.edit-text textarea:focus {
  background-color: rgb(32, 44, 51) !important;
}
.cursor-pointer{
  cursor: pointer;
}
.filter.input-select{
  border: none;
  background-color: var(--main-bg) !important;
  color: white;
  width: 50px;
}
.filter.input-select .option{
  padding: 30px !important;
  color: white;

}
.scrollbar{
  width: 100%;
  overflow-x: hidden !important;
}
.scrollbar{
  height: 90%;
width: 100%;
  overflow-y: hidden !important;
  overflow-x: hidden;
}
.scrollbar:hover
{

height: 90%;
width: 100%;
overflow-y: scroll;
overflow-x: hidden;
}

.pages::-webkit-scrollbar-track
{
border-radius: 2px;
}

.pages::-webkit-scrollbar
{
width: 5px;
background-color: #F7F7F7;
}

.pages::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #BFBFBF;
}
/*CALA*/

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0073b1;
  border-color: #0073b1;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}
.search-hidden {
  display: none;
}


.search-visible {
  display: block;
}
.dashboard{
  position: relative;
}
.recent-activity-sticky {
  position:sticky !important;
  right: 0;
  top: 0;
  width: 270px !important;
  margin-top: 30px;
}
.filter-nav{
  position: relative;
}
.filters{
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 2;
}