

  
  .text.typing {
    
    font-weight: bold;
    white-space: nowrap;
    padding: 0.5em 0;
    border-left: 2px solid transparent;
    color: white;
    font-size: 3em;
    padding: 0 5rem;
background-image: linear-gradient(160deg, rgba(0, 147, 233,.3) 0%, rgba(128, 208, 199,.8) 100%);

    box-shadow: rgba(0, 201, 240, 0.3) -5px 5px, rgba(0, 195, 240, 0.2) -10px 10px, rgba(0, 195, 240, 0.2) -15px 15px, rgba(46, 146, 240, 0.1) -20px 20px, rgba(240, 46, 170, 0.09) -25px 25px;
    width: 100%;
    height: 5rem;
    border-radius: 5px;
  }
  
  .typing::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: -25px;
    background-color: var(--background-color);
    animation: type var(--char-count)/5s steps(var(--char-count)) forwards infinite, blink 1s steps(2) infinite;
  }
  
  @keyframes blink {
    from {
      border-left-color: transparent;
    }
    to {
      border-left-color: var(--background-color);
    }
  }
  
  @keyframes type {
    0% {
      width: 100%;
    }
    50% {
      width: 0;
    }
    100% {
      width: 0;
    }
  }
  
  .text3d {
    text-shadow: 0 1px 0 #7f8a85, 0 2px 0 #bac7c6, 0 3px 0 #bbb, 0 4px 0 #a6acb4, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
  }
  .cala-content h2{
    font-weight: 700;
    text-transform: capitalize ;

  }
  .cala-content {
	background: linear-gradient(-45deg, rgba(237, 118, 82,0.15), rgba(231, 60, 126,0.15), rgba(35, 166, 213,0.15), rgba(35, 213, 171,0.15));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    border-radius: 5px;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.teacher{
    background-color: rgba(35, 213, 171);
    border-radius: 50%;
    
}
.student{
    background-color: rgba(252, 252, 252);
    border-radius: 50%;
}

@media screen and (max-width: 1200px){
  .text.typing .text3d{
    font-weight: 700;
  }
  .text.typing{
    width: fit-content;
    font-weight: bold;
    white-space: nowrap;
    padding: 0.5em ;
    border-left: 2px solid transparent;
    color: white;
    font-size: 2em;
    height:4.5rem;

   
  }
  .cala-hero-container h1{
    font-weight: 600 ;
    font-size: 2rem;

  }
}
@media screen and (max-width:768px){

  .text.typing{
    width: fit-content;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    padding: 0.5em ;
    border-left: 2px solid transparent;
    color: white;
    font-size: 1.5em;
    height:3rem;
   
   
  }
  .cala-hero-container h1{
    font-weight: 500 ;
    font-size: 1.5rem;

  }
  .cala-hero-container .ms-5{
    margin-left: 10px !important;

  }
  }
@media screen and (max-width:532px){

  .text.typing{
  
    padding: 0.5em ;
    border-left: 2px solid transparent;
    color: white;
    font-size: 1.2em;
    height:2.5rem;
    
  }
  .cala-hero-container h1{
    font-weight: 700 ;
    font-size: 1.2rem;

  }
  
  }
@media screen and (max-width:378px){

  .text.typing{
    padding: 0.5em ;
    border-left: 2px solid transparent;
    color: white;
    font-size: 1em; 
  }
  .cala-hero-container h1{
    font-weight: 700 ;
    font-size: 1rem;

  }
  
  }