
 .admission-content .admission-img-container img{
    box-shadow: rgba(161, 134, 134, 0.4) 0px 2px 4px, rgba(196, 163, 163, 0.302) 0px 7px 13px -3px, rgba(161, 131, 131, 0.2) 0px -3px 0px inset;
}
 .admission-content .admission-img-container{
    background : linear-gradient(132deg, rgba(36, 198, 220,.2), rgba(52, 148, 230,.2), rgba(236, 110, 173,.2), rgba(97, 94, 95,.2), rgba(59, 57, 59,.2)); 
    background-size : 400% 400%;
     animation : Gradient 15s ease infinite; 
     border-radius: 3px;
     position: relative;
}
 .admission-content .admission-img-container.img-2{
    background : linear-gradient(132deg, rgba(68, 71, 71, 0.2), rgba(13, 22, 29, 0.2), rgba(236, 110, 173,.2), rgba(97, 94, 95,.2), rgba(59, 57, 59,.2)); 
    background-size : 400% 400%;
     animation : Gradient 15s ease infinite; 
     border-radius: 3px;
}


@keyframes Gradient {
  0% {
       background-position: 0% 50%
     }
 50% { 
       background-position: 100% 50%
     }
100% {
    background-position: 0% 50%
    }
}

.over-sticker{
    background-color:rgb(255, 255, 255) ;
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left: 10%;
    color: black;
    box-shadow: rgba(95, 98, 100, 0.4) -5px 5px, rgba(86, 88, 90, 0.3) -10px 10px, rgba(95, 97, 99, 0.2) -15px 15px, rgba(167, 168, 168, 0.1) -20px 20px, rgba(145, 146, 148, 0.05) -25px 25px;  
}
.over-sticker-2{
    background-color:rgb(255, 255, 255) ;
    position: absolute;
    border-radius: 5px;
    top: 20%;
    right: 7%;
    color: black;
    box-shadow: rgba(95, 98, 100, 0.4) 5px 5px, rgba(86, 88, 90, 0.3) 10px 10px, rgba(95, 97, 99, 0.2) 15px 15px, rgba(167, 168, 168, 0.1) 20px 20px, rgba(145, 146, 148, 0.05) 25px 25px;  
}
.over-sticker-3{
    background-color:rgb(255, 255, 255) ;
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left: 10%;
    color: black;
    box-shadow: rgba(95, 98, 100, 0.4) -5px 5px, rgba(86, 88, 90, 0.3) -10px 10px, rgba(95, 97, 99, 0.2) -15px 15px, rgba(167, 168, 168, 0.1) -20px 20px, rgba(145, 146, 148, 0.05) -25px 25px; 
    box-shadow: rgba(165, 157, 157, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -5px, rgba(0, 0, 0, 0.2) 0px -5px 0px inset; 
}