/* Default styles here for older browsers. */
@media only screen and (min-width: 960px) {
    /* Styles for browsers larger than 960px; */
}
@media only screen and (min-width: 1440px) {
    /* Styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
    /* For sumo-sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
    /* Styles for mobile browsers smaller than 480px; (iPhone) */
}
@media only screen and (device-width: 768px) {
    /* Default iPad screens */
}
/* Different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* For portrait layouts only */
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* For landscape layouts only */
}

.new-message-box {
    margin: 10px 0;
    padding-left: 20px;
    padding-bottom: 0px;
    height: 30px;
    margin-bottom: 20px !important;
    position: fixed;
    top: 5px;
    right:40%;
    z-index: 200;
}
.new-message-box p {
    font-weight: 600;
}
.info-tab {
    float: left;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    top: 10px;
    margin-left: -23px;
}


/* .info-tab i::before {
    width: 24px;
    height: 24px;
    box-shadow: inset 12px 0 13px rgba(0, 0, 0, 0.8);
}
.info-tab i::after {
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
    bottom: -18px;
    background-color: transparent;
}
.info-tab i::before,
.info-tab i::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -17px;
    transform: rotateX(60deg);
} */
.note-box,
.warning-box,
.tip-box-success,
.tip-box-danger,
.tip-box-warning,
.tip-box-info,
.tip-box-alert {
    padding: 8px 8px 3px 26px;
    border-radius: 3px !important;

}


.new-message-box-success,
.new-message-box-danger,
.new-message-box-warning,
.new-message-box-info,
.new-message-box-alert {
    padding:0px;
}

/***Success****/
.new-message-box-success {
    padding: 3px;
    margin: 10px 0;
}
.tip-icon-success {
    background: #8BC34A; 
}
.tip-box-success {
    color: #33691E; 
    background: #DCEDC8;
}

.tip-icon-success i::before {
    background: #8BC34A; 
}

.new-message-box-success p {
   color: #33691E;
}

/*******Danger*******/
.new-message-box-danger {
    padding: 3px;
    margin: 10px 0;
}
.tip-icon-danger {
    background: #f44336; 
}
.tip-box-danger {
    color: #b71c1c; 
    background: #FFCCBC; 
}
.tip-icon-danger i::before {
    background: #f44336; 
}
.new-message-box-danger p {
    color: #ce351a;
 }
/*******warning*******/
.new-message-box-warning {
    padding: 3px;
    margin: 10px 0;
}
.tip-icon-warning {
    background: #FFEB3B; 
}
.tip-box-warning {
    color: #212121; 
    background: #FFF9C4;
}
.tip-icon-warning i::before {
    background: #FFEB3B;
}
.new-message-box-warning p {
    color: #ddaf16;
 }

/*******info*******/
.new-message-box-info {
    padding: 3px;
    margin: 10px 0;
}
.tip-box-info {
    color: #01579B; 
    background: #B3E5FC; 
}
.tip-icon-info {
    background: #03A9F4; 
}

.tip-icon-info i::before {
    background: #03A9F4; 
}
.new-message-box-info p {
    color: #1c5699;
 }

/*******info*******/
.new-message-box-alert {
    background: #FF6F00;
    padding: 3px;
    margin: 10px 0;
}
.tip-box-alert {
    background: #FFF8E1; 
}
.tip-icon-alert {
    background: #FF6F00; 
}
.tip-icon-alert i::before {
    background: #FF6F00; 
}
.new-message-box-alert p {
    color: rgb(255, 111, 0);
 }


