
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'card-cardo', serif;
}

.card-card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
    0 2px 2px rgba(0,0,0,0.1), 
    0 4px 4px rgba(0,0,0,0.1), 
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1);
}

@media (min-width: 600px) {
  .card-card {
    height: 350px;
  }
}

.card-card0:before {
  background-image: url("../assets/imgs/schoolChairs.jpg");
}
.card-card3:before {
  background-image: url("../assets/imgs/parent.jpg");
}
.card-card2:before {
  background-image: url("../assets/imgs/student.jpg");
}

.card-card1:before {
  background-image: url("../assets/imgs/teacher.jpg");
}

.card-card:before, .card-card:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card-card:after {
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.009) 11.7%,
    hsla(0, 0%, 0%, 0.034) 22.1%,
    hsla(0, 0%, 0%, 0.072) 31.2%,
    hsla(0, 0%, 0%, 0.123) 39.4%,
    hsla(0, 0%, 0%, 0.182) 46.6%,
    hsla(0, 0%, 0%, 0.249) 53.1%,
    hsla(0, 0%, 0%, 0.320) 58.9%,
    hsla(0, 0%, 0%, 0.394) 64.3%,
    hsla(0, 0%, 0%, 0.468) 69.3%,
    hsla(0, 0%, 0%, 0.540) 74.1%,
    hsla(0, 0%, 0%, 0.607) 78.8%,
    hsla(0, 0%, 0%, 0.668) 83.6%,
    hsla(0, 0%, 0%, 0.721) 88.7%,
    hsla(0, 0%, 0%, 0.762) 94.1%,
    hsla(0, 0%, 0%, 0.790) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 700;
  transform: translateY(400%);
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}
@media  (max-width:700px) {
  .card-card {
    height: 350px;
  }
}

@media (hover: hover) and (min-width: 600px) {
  .card-card:after {
    transform: translateY(10);
    
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }

  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card-card:hover, .card-card:focus-within {
    align-items: center;
  }

  .card-card:hover:before, .card-card:focus-within:before {
    transform: translateY(-4%);
  }

  .card-card:hover:after, .card-card:focus-within:after {
    transform: translateY(-50%);
  }

  .card-card:hover .content, .card-card:focus-within .content {
    transform: translateY(50%);
  }
.card-card:hover .title{
  transform: translateY(.400%);
}
  .card-card:hover .content > *:not(.title), .card-card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card-card:focus-within:before, .card-card:focus-within:after, .card-card:focus-within .content, .card-card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}
