


.upload-card {
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgba(49, 104, 146, .25);
}

.upload-card-body {
    padding: 2rem 1.25rem;    
}

.upload-card-title {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: .25rem;
}

.upload-card-subtitle {
    color: #777;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
}

.upload-card .file-upload {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem 1.5rem;
    margin-top: 2rem;
    border: 3px dashed #9dceff;
    border-radius: .5rem;
    transition: background-color .25s ease-out;
}

.upload-card .file-upload:hover {
    background-color: #dbedff;
}

.upload-card .file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    outline: none;
    cursor: pointer;
}

.upload-card .icon {
    width: 75px;
    margin-bottom: 1rem;
}

@media (max-width: 600px) {
    .icon {
        width: 50px;
    }
}
