#horizontal-process {
    margin-bottom: 40px;
    /* overflow-x: hidden; */
    text-align: center;
  }
  
  #horizontal-process .section-heading {
    margin-bottom: 40px;
  }
  
  #horizontal-process .steps-pane img {
    height: 100%;
    width: 100%;
    /* margin-top: 18px; */
    transform: skewX(15deg);
  }
  
  #horizontal-process .pane-warp {
    height: 140px;
    width: 25px;
    width: 10px;
    margin-left: 20%;
    margin-top: 20px;
    transform: skewX(15deg);
  }
  
  #horizontal-process .steps-pane {
    height: 140px;
    width: 140px;
    margin-left: 30px;
    box-shadow: 7px 0px 5px #bcbcbc;
  }
  
  #horizontal-process .inverted-pane-warp {
    height: 140px;
    width: 25px;
    width: 10px;
    margin-left: 20%;
    transform: skewX(-15deg);
  }
  
  #horizontal-process .inverted-steps-pane {
    height: 140px;
    width: 140px;
    background: #bcbcbc;
    margin-left: 30px;
    box-shadow: 7px 0px 5px #bcbcbc;
  }
  
  #horizontal-process .inverted-steps-pane p {
    transform: skewX(15deg);
    padding: 20px 10px 10px 10px;
  }
  
  @media (min-width: 900px) {
    #horizontal-process .steps-timeline {
      border-top: 2px dotted rgb(2, 130, 136);
      padding-top: 50px;
      margin-top: 40px;
      
    }
    #horizontal-process .steps-one,
    #horizontal-process .steps-two,
    #horizontal-process .steps-three,
    #horizontal-process .steps-four,
    #horizontal-process .steps-five {
      float: left;
      width: 20%;
      margin-top: -105px;
    }
    #horizontal-process .step-wrap {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background: transparent;
      margin-left: 39%;
      border: 2px solid rgb(2, 130, 136);
    }
    #horizontal-process .verticle-line {
      position: absolute;
      height: 57px;
      width: 5px;
      margin-left: 10px;
      margin-top: 10px;
    }
    #horizontal-process .steps-stops {
      height: 15px;
      width: 15px;
      margin: 11px 10.1px;
      border-radius: 50%;
      background: rgb(2, 130, 136)
    }
    #horizontal-process .end-circle {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      position: absolute;
      margin-top: 19px;
      margin-left: -10px;
    }
    #horizontal-process .inverted-end-circle {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      position: absolute;
      margin-top: 19px;
      margin-left: 18.1%;
    }
  }
  
  @media (max-width: 899px) {
    #horizontal-process .container-fluid {
      width: 50%;
    }
    #horizontal-process .steps-timeline {
      border-left: 5px double rgb(2, 130, 136);
      margin-left: 35px;
    }
    #horizontal-process .steps-one,
    #horizontal-process .steps-two,
    #horizontal-process .steps-three,
    #horizontal-process .steps-four,
    #horizontal-process .steps-five {
      margin-left: -25px;
    }
    #horizontal-process .step-wrap,
    .steps-stops {
      float: left;
    }
    #horizontal-process .steps-timeline {
      border-left: 2px solid blue;
      margin-left: 30px;
    }
    #horizontal-process .pane-warp {
      margin-left: 30%;
    }
    #horizontal-process .inverted-pane-warp {
      margin-left: 30%;
    }
    #horizontal-process .verticle-line {
      position: absolute;
      width: 125px;
      height: 5px;
      margin-left: 5px;
      margin-top: 10px;
    }
    #horizontal-process .steps-stops {
      height: 25px;
      width: 25px;
      width: 10px;
      margin: 11px 10px;
      border-radius: 50%;
      background: rgb(2, 130, 136);
    }
    #horizontal-process .step-wrap {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background: transparent;
      margin-top: 125px;
      margin-left: -2px;
      border: 2px solid rgb(2, 130, 136);
    }
    #horizontal-process .end-circle {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      position: absolute;
      margin-top: -45px;
      margin-left: 15px;
    }
    #horizontal-process .inverted-end-circle {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      position: absolute;
      margin-top: 280px;
      margin-left: 15px;
    }
  }
  
  @media (max-width: 600px) {
    #horizontal-process .container-fluid {
      width: 90%;
    }
  }
  
  @media (max-width: 400px) {
    #horizontal-process .verticle-line {
      width: 105px;
    }
  }
  
  #horizontal-process  .back-orange {
    background: rgb(2, 130, 136);
    margin-left: 5.5px;
  }
  
  #horizontal-process .back-blue {
    background: #141E30; 
    background: -webkit-linear-gradient(to right, #243B55, #141E30); 
    background: linear-gradient(to right, #243B55, #141E30); 
     

  }
  