/* Font Import */
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

* {
  font-family: 'Ubuntu';
}

/* .container {
  margin-top: 50px;
} */

.image--card--top {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(270deg, #2af598 0%, #009efd 100%);
  border-radius: 5px;
}

/* .image--card--bottom {
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  padding-top: 80px;
  height: 120px;
  background-color: #000000;
  border-radius: 8px;
}


.image--card--headline {
  padding-left: 25px;
  width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.image--card--text {
  padding-left: 25px;
} */
